body{
  background-color: #e9efec;
}
.shair {
  background-color: #6a9c89;
  color: #e9efec;
}
.naam2 {
  color: #e9efec;
}
.kyahu {
  color: #6a9c89;
}
.kaunhu {
  color: #6a9c89;
}
#A63A50
#896978